.n_gallery_wrap {clear:both; width:100%;height:auto;position:relative;overflow:hidden;margin-bottom:20px; border:1px solid #CFDED8;}


.n_title_wrap  {width:100%;height:28px;border-bottom:1px solid #E9EAED;}
.n_title a {float:left; text-decoration:none; padding-left:8px; white-space:nowrap; font-size:15px;font-weight:bold;color:#222; line-height:27px}
.n_title a:hover {font-size:15px;font-weight:bold;color:#fda850;}
.n_title img {margin-right: 10px;margin-left: 10px;}

.n_icon {float:left; margin-left:5px; height:19px}
.n_right_wrap {float:right; padding-top:5px; padding-right:20px}  
ul.n_thumb {margin:0 0 0 5px; padding:10px 0 0 0; list-style:none; font-size:0; white-space:nowrap}
ul.n_thumb li {float:left; margin-left:12px; margin-bottom:10px; text-align:right;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

}
ul.n_thumb li:hover {}
ul.n_thumb li p {padding:0; width:100%; overflow-x:hidden; text-align:center;}
ul.n_thumb li p a:link, ul.n_thumb li p a:visited, ul.n_thumb li p a:active, ul.n_thumb li p a:hover {text-decoration:none; font:normal 10px malgun gothic, tahoma; color:#555; letter-spacing:-1px; white-space:nowrap}
.n_no_list {padding:10px 0; font:normal 10px malgun gothic, dotum; color:#777; text-align:center}

