.n_gallery_wrap {clear:both; position:relative}
.n_title_wrap {width:100%; height:25px; border:1px solid #ccc}
.n_title a:link, .n_title a:visited, .n_title a:active, .n_title a:hover {
	float:left;
	text-decoration:none;
	padding-left:8px; white-space:nowrap;
	font:bold 12px gulim, dotum;
	color:#222;
	line-height:27px
}
.n_icon {float:left; margin-left:5px; height:19px}
.n_right_wrap {float:right; padding-top:5px; padding-right:7px}
